<div class="header-container">
  <span class="webapp-name">Simple Weather</span>
  <div class="search-container">
    <mat-form-field appearance="fill">
      <mat-label>Search City</mat-label>
      <input matInput [(ngModel)]="searchQuery" (ngModelChange)="onQueryChange($event)" placeholder="Enter city name">
      <button mat-icon-button matSuffix (click)="onSearch(searchQuery)" [disabled]="isSearchDisabled">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <div class="dropdown" *ngIf="(cities$ | async)?.length">
      <ul>
        <li *ngFor="let city of cities$ | async" (click)="onSearch(city.name)">
          {{ city.name }}, {{ city.country }}
        </li>
      </ul>
    </div>
  </div>
</div>